services:
  iriswebapp_db:
    image: ghcr.io/dfir-iris/iriswebapp_db:{{ iris_version }}
    container_name: iriswebapp_db
    restart: always
    environment:
      - POSTGRES_USER=iris
      - POSTGRES_PASSWORD={{ iris_db_password }}
      - POSTGRES_DB=iris_db
      - POSTGRES_ADMIN_USER=iris
      - POSTGRES_ADMIN_PASSWORD={{ iris_db_password }}
    volumes:
      - iris-db-data:/var/lib/postgresql/data

  iriswebapp_rabbitmq:
    image: rabbitmq:3-management
    container_name: iriswebapp_rabbitmq
    restart: always
    environment:
      - RABBITMQ_DEFAULT_USER={{ iris_rabbitmq_user }}
      - RABBITMQ_DEFAULT_PASS={{ iris_rabbitmq_password }}
    volumes:
      - iris-rabbitmq-data:/var/lib/rabbitmq

  iriswebapp_app:
    image: ghcr.io/dfir-iris/iriswebapp_app:{{ iris_version }}
    container_name: iriswebapp_app
    restart: always
    environment:
      - POSTGRES_SERVER=iriswebapp_db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=iris
      - POSTGRES_PASSWORD={{ iris_db_password }}
      - POSTGRES_DB=iris_db
      - IRIS_SECRET_KEY={{ iris_secret_key }}
      - IRIS_SECURITY_PASSWORD_SALT={{ iris_secret_key }}
      - IRIS_ADM_EMAIL=admin@{{ domain }}
      - IRIS_ADM_PASSWORD={{ iris_admin_password }}
      - IRIS_ADM_API_KEY={{ iris_adm_api_key }}
      - CELERY_BROKER=amqp://{{ iris_rabbitmq_user }}:{{ iris_rabbitmq_password }}@iriswebapp_rabbitmq
    depends_on:
      - iriswebapp_db
      - iriswebapp_rabbitmq
    volumes:
      - iris-downloads:/home/iris/downloads
      - iris-user-data:/home/iris/user_data
      - iris-certificates:/home/iris/certificates
      - iris-alerts:/home/iris/alerts

  iriswebapp_worker:
    image: ghcr.io/dfir-iris/iriswebapp_app:{{ iris_version }}
    container_name: iriswebapp_worker
    restart: always
    command: ["./wait-for-iriswebapp.sh", "iriswebapp_app", "celery", "-A", "app.celery", "worker", "-l", "INFO", "--purge"]
    environment:
      - POSTGRES_SERVER=iriswebapp_db
      - POSTGRES_PORT=5432
      - POSTGRES_USER=iris
      - POSTGRES_PASSWORD={{ iris_db_password }}
      - POSTGRES_DB=iris_db
      - IRIS_SECRET_KEY={{ iris_secret_key }}
      - IRIS_SECURITY_PASSWORD_SALT={{ iris_secret_key }}
      - CELERY_BROKER=amqp://{{ iris_rabbitmq_user }}:{{ iris_rabbitmq_password }}@iriswebapp_rabbitmq
    depends_on:
      - iriswebapp_db
      - iriswebapp_rabbitmq
    volumes:
      - iris-downloads:/home/iris/downloads
      - iris-user-data:/home/iris/user_data
      - iris-certificates:/home/iris/certificates
      - iris-alerts:/home/iris/alerts

  iriswebapp_nginx:
    image: ghcr.io/dfir-iris/iriswebapp_nginx:{{ iris_version }}
    container_name: iriswebapp_nginx
    restart: always
    ports:
      - "4444:443"
    depends_on:
      - iriswebapp_app
    volumes:
      - iris-certificates:/www/certs

volumes:
  iris-db-data:
  iris-rabbitmq-data:
  iris-downloads:
  iris-user-data:
  iris-certificates:
  iris-alerts:
