services:
  wazuh-agent:
    image: wazuh/wazuh-agent:{{ wazuh_version }}
    hostname: "{{ inventory_hostname }}"
    restart: unless-stopped
    environment:
      - WAZUH_MANAGER={{ wazuh_server_ip }}
      - WAZUH_AGENT_NAME={{ inventory_hostname }}
      - WAZUH_REGISTRATION_SERVER={{ wazuh_server_ip }}
    volumes:
      - /var/log:/var/log/host:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - wazuh-agent-etc:/var/ossec/etc
      - wazuh-agent-queue:/var/ossec/queue
    network_mode: host
    pid: host
    privileged: true

volumes:
  wazuh-agent-etc:
  wazuh-agent-queue:
